[Unit]
Description=Tector Mini Hotspot Setup
After=network.target
Before=cron.service

[Service]
Type=oneshot
ExecStart=/bin/bash __BASE_PATH__/scripts/hotspot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
